// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.content{
	background-color: #C4D6FF;
	font-family: 'Josefin Slab', serif;
}


.toolbar-background{
	background-color: #18347F;
	color: white;
}

.toolbar{
	border-bottom: 3px solid #3069FF;
	color: white;
}

.toolbar-title-ios{
	color: white;
	font-size: 20px;
	font-family: 'Josefin Slab', serif;
}

h1{
	text-align: center;
	color: #18347F;
	font-family: 'Josefin Slab', serif;
}

ion-select{
	max-width: 75%;
	width: 75%;
	background-color: transparent;
}

.select-text{
	text-align: right;
	font-size: 20px;
	background-color: transparent;
}

ion-card-content{
	font-size: 30px !important;
	text-align: center;
	background-color: transparent;
}